<!-- templates/product-detail.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<h1 th:text="${product.name}"></h1>
<img th:src="${product.thumbnail}" alt="thumbnail" width="300">
<p th:text="${product.description}"></p>
<p>Giá gốc: <del th:text="${product.price}"></del> VNĐ</p>
<p>Giá giảm: <span th:text="${product.priceDiscount}">Không có</span> VNĐ</p>
<p>Đánh giá: <span th:text="${product.rating}"></span> ⭐</p>
<a href="/">Quay lại danh sách</a>
</body>
</html>
