<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Chi tiết sản phẩm</title></head>
<body>
<h2 th:text="${product.name}"></h2>
<img th:src="${product.thumbnail}" alt="thumbnail" width="300"/>

<p th:text="${product.description}"></p>
<p>Giá gốc: <span th:text="${product.price} + ' VNĐ'"></span></p>
<p>Giảm giá: <span th:text="${product.priceDiscount != null ? product.priceDiscount + ' VNĐ' : 'Không có'}"></span></p>
<p>Đánh giá: <span th:text="${product.rating} + ' sao'"></span></p>
<a href="/">Quay lại danh sách</a>
</body>
</html>





